body 
{	
	background-image: url('../img/fondo.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;";
	margin: 1em 0em;
}

.container
{
	background-color: #fff;
	border-radius: 20px;
}

.thumbnail
{
	border-radius: 20px;
}

